<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Free Web tutorials">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="Abdukarim" content="John Doe">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logistic</title>
    <!-- BOOTSTRAP CDN v5.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- FONTAWESOME CDN v6.0 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- BOOSTRAP ICONS CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@700&display=swap" rel="stylesheet">
    <!-- LOCAL STYLES -->
    <link rel="stylesheet" type="text/css" href="../staticfiles/css/index.css">
</head>
<body>
    <header class="header">
        <section class="header_first_section">
            <div class="container_cargo">
                <div class="sc1_main">
                    <div class="sc1_text1">
                        <h1>
                            Let your <font color="#ffc000">success <br> ride</font> with us
                        </h1>
                    </div>
                    <div class="sc1_text2">
                        <p>
                            To consistently deliver a safe, value-based and customer oriented <br>logistics services.
                        </p>
                    </div>
                    <div class="sc1_clip_btn">
                        <a>
                            <button>Apply to drive</button>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="header_second_section">
            <div class="container_cargo">
                <nav class="header_sc2_navbar">
                    <div class="sc2_navbar_logo">
                        <a>
                            <img src="../staticfiles/img/header_logo.png" alt="">
                        </a>
                       <div class="mobile_right_control">
                            <a class="clip_btn1">
                                <button>Request a quote</button>
                            </a>
                            <a class="navbar_control" onclick="controlMenu()">
                                <i class="fa fa-bars"></i>
                            </a>
                       </div>  
                    </div>
                    <div class="sc2_navbar_menu">
                        <ul>
                            <li>
                                <a>Home</a>
                                <div class="sc2_navbar_underline"></div>
                            </li>
                            <li>
                                <a>For drivers</a>
                                <div class="sc2_navbar_underline"></div>
                            </li>
                            <li>
                                <a>About us</a>
                                <div class="sc2_navbar_underline"></div>
                            </li>
                            <li>
                                <a>Services</a>
                                <div class="sc2_navbar_underline"></div>
                            </li>
                            <li>
                                <a>For drivers</a>
                                <div class="sc2_navbar_underline"></div>
                            </li>
                            <li>
                                <a>Reviews</a>
                                <div class="sc2_navbar_underline"></div>
                            </li>
                            <li>
                                <a>Contacts</a>
                                <div class="sc2_navbar_underline"></div>
                            </li>
                            <li>
                                <a class="parent">
                                    <button class="box">Request a quote</button>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </section>
    </header>
    <main class="h1">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum exercitationem molestias debitis maiores fugit, tempore dignissimos at rerum possimus modi voluptatem vitae ipsum sapiente facilis error incidunt quod eos odit.
    </main>
    <script src="../staticfiles/js/index.js"></script>
</body>
</html>